<template>
    <div class="md-lol-champion-info">
        <div class="champImg"><img :src="champImg" :alt="champName" /></div>
        <div class="name">이름 : {{champName}} </div>
        <div class="age">나이 : {{champAge}} </div>
    </div>
</template>

<script>
export default {
    props: {
        champImg: {
            type: String,
            required: true
        },
        champName: {
            type: String,
            required: true
        },
        champAge: {
            type: Number,
            required: true
        }
    }
}
</script>
