<template xmlns:champ-frame-components="http://www.w3.org/1999/html">
    <div>
        <h1>롤 챔피언 나이</h1>
        <section>
                <lol-champion-info
                    v-for="(item,index) in champions"
                    v-bind:key="index"
                    v-bind:champ-img="item.champImg"
                    v-bind:champ-name="item.champName"
                    v-bind:champ-age="item.champAge"
                />
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            champions: [
                {
                    champImg:'images/lol_champion.jpg',
                    champName:'에코',
                    champAge:16
                },
                {
                    champImg:'images/lol_champion.jpg',
                    champName:'세라핀',
                    champAge:17
                },
                {
                    champImg:'images/lol_champion.jpg',
                    champName:'나미',
                    champAge:18
                },
                {
                    champImg:'images/lol_champion.jpg',
                    champName:'럭스',
                    champAge:19
                },
                {
                    champImg:'images/lol_champion.jpg',
                    champName:'이즈리얼',
                    champAge:20
                }
            ]
        }
    }
}
</script>
